
    <div class="content-header">
    <div class="header-inner">
      <h2 class="js-timeline-title">Tweets</h2>
    </div>
  </div>

    <div class="stream-container " data-max-id="322001477180735487" data-since-id="322004746993008640">
    <div class="stream home-stream">
      <ol class="stream-items" id="stream-items-id"> 

  <li class="js-stream-item stream-item stream-item expanding-stream-item" data-item-id="322001477180735488" id="stream-item-tweet-322001477180735488" data-item-type="tweet">
    


  

  <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable js-original-tweet  


 has-cards

 with-social-proof


" data-feedback-key="stream_status_322001477180735488" data-tweet-id="322001477180735488" data-item-id="322001477180735488" data-screen-name="businessinsider" data-name="Business Insider" data-user-id="20562637" data-expanded-footer="&lt;div class=&quot;js-tweet-details-fixer tweet-details-fixer&quot;&gt;

        &lt;div class=&quot;card2 &quot; data-card2-name=&quot;summary&quot;&gt;
        &lt;div class=&quot;card2-summary util-cf card2-holder&quot; data-card2-url=&quot;http://t.co/IwtixzOyov&quot;&gt;
  &lt;div class=&quot;card2-attribution util-text-small&quot;&gt;
    &lt;a class=&quot;card2-profile-link util-link-complex util-text-normal js-action-profile js-user-profile-link&quot;
     data-user-id=&quot;242374336&quot;
     href=&quot;/bi_politics&quot;&gt;
      &lt;img class=&quot;util-align-middle util-rounded&quot;
       src=&quot;https://si0.twimg.com/profile_images/1228268021/bi-politics-transparent_normal.png&quot;
       width=&quot;18&quot; height=&quot;18&quot; alt=&quot;&quot;&gt;&lt;b class=&quot;util-link-complex-target util-align-middle&quot;&gt;Politix&lt;/b&gt;
    &lt;/a&gt;
&lt;/div&gt;




  &lt;a href=&quot;http://t.co/IwtixzOyov&quot; target=&quot;_blank&quot; class=&quot;js-card2-external-link&quot;&gt;
  &lt;img class=&quot;util-pull-end card2-thumbnail&quot;
   src=&quot;https://o.twimg.com/2/proxy.jpg?t=HBhjaHR0cDovL3N0YXRpYzMuYnVzaW5lc3NpbnNpZGVyLmNvbS9pbWFnZS81MTY1N2VkOGVjYWQwNDI1MzgwMDAwMGMvbGl2ZS1vYmFtYXMtYmlnLWJ1ZGdldC1zcGVlY2guanBnFHgUeBwUAhQCAAAWABIA&amp;amp;s=5MMHcFch_8ILNyfIXULGTrteqhjrH12c7YrHndjGBDs&quot;
   alt=&quot;&quot;&gt;
&lt;/a&gt;


  &lt;div class=&quot;util-nbfc&quot;&gt;
    &lt;h3 class=&quot;card2-title&quot;&gt;
  &lt;a class=&quot;js-card2-external-link util-text-normal&quot; href=&quot;http://t.co/IwtixzOyov&quot; target=&quot;_blank&quot;&gt;
    LIVE: Obama&amp;#39;s Big Budget Speech
  &lt;/a&gt;
&lt;/h3&gt;

&lt;p class=&quot;card2-byline util-text-small&quot;&gt;
  &lt;span class=&quot;util-text-mute&quot;&gt;By&lt;/span&gt;
  &lt;a class=&quot;card2-profile-link util-text-mute util-link-complex js-account-group js-action-profile js-user-profile-link js-nav&quot;
    data-user-id=&quot;18125710&quot;
    href=&quot;https://twitter.com/BrettLoGiurato&quot;&gt;
    &lt;b class=&quot;util-link-complex-target js-action-profile-name&quot;&gt;Brett LoGiurato&lt;/b&gt;
    &lt;span class=&quot;util-text-mute username js-action-profile-name&quot;&gt;
      &lt;span class=&quot;at&quot;&gt;@&lt;/span&gt;BrettLoGiurato
    &lt;/span&gt;
  &lt;/a&gt;
&lt;/p&gt;

&lt;p class=&quot;card2-description&quot;&gt;
  &lt;a class=&quot;js-card2-external-link util-link-block util-text-break twitter-timeline-link&quot;
    target=&quot;_blank&quot;
    href=&quot;http://t.co/IwtixzOyov&quot;&gt;
    &lt;span class=&quot;util-text-normal&quot;&gt;
      The big one.
    &lt;/span&gt;
  &lt;/a&gt;
&lt;/p&gt;


    &lt;div class=&quot;card2-footer&quot;&gt;
  &lt;a href=&quot;http://t.co/IwtixzOyov&quot; target=&quot;_blank&quot; class=&quot;js-card2-external-link&quot;&gt;
    View on web
  &lt;/a&gt;
&lt;/div&gt;


  &lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;


    &lt;div class=&quot;js-tweet-media-container &quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;entities-media-container &quot; style=&quot;min-height:0px&quot;&gt;
    &lt;/div&gt;
  &lt;div class=&quot;js-machine-translated-tweet-container&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;js-tweet-stats-container tweet-stats-container already-open&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;client-and-actions&quot;&gt;
    &lt;span class=&quot;metadata&quot;&gt;
      &lt;span title=&quot;8:31 PM - 10 Apr 13&quot;&gt;8:31 PM - 10 Apr 13&lt;/span&gt;

      


           &amp;middot; &lt;a class=&quot;permalink-link js-permalink js-nav&quot; href=&quot;/businessinsider/status/322001477180735488&quot; &gt;Details&lt;/a&gt;

      &lt;span class=&quot;flag-container flag-cards&quot;&gt;
  &lt;button type=&quot;button&quot; class=&quot;flaggable btn-link&quot;&gt;
    Flag media
  &lt;/button&gt;
  &lt;span class=&quot;flagged hidden&quot;&gt;
    Flagged
    &lt;span&gt;
      &lt;a target=&quot;_blank&quot; href=&quot;//support.twitter.com/articles/20069937&quot;&gt;
        (learn more)
      &lt;/a&gt;
    &lt;/span&gt;
  &lt;/span&gt;
&lt;/span&gt;


    &lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
">

    
    <i class="dogear"></i>

    
    <div class="content">

      
      <div class="stream-item-header">
          <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="<%= @tweet_param["profile_image_url_https"] %>" data-user-id="20562637">
    <!-- <img class="avatar js-action-profile-avatar" alt="Business Insider"> -->
    <%= image_tag("#{@tweet_param["profile_image_url"]}", :class => 'avatar js-action-profile-avatar', :alt => "Business Insider") %>

    <strong class="fullname js-action-profile-name show-popup-with-id"><%= @tweet_param["from_user_name"] %></strong>
    <span>‏</span><span class="username js-action-profile-name"><s>@</s><b></b></span>
    
  </a>
<!-- 
        <small class="time">
    <span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="1365606109" data-long-form="true"></span>
</small>
 -->
      </div>

      
        <p class="js-tweet-text"><%= @tweet_param["text"] %><a href="http://t.co/IwtixzOyov" rel="nofollow" dir="ltr" data-expanded-url="http://read.bi/Z8xVH4" class="twitter-timeline-link" target="_blank" title="http://read.bi/Z8xVH4"><span class="invisible">http://</span><span class="js-display-url"></span><span class="invisible"></span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span></span></a></p>

      
      <div class="stream-item-footer">
        
        

<div class="context">
</div>


          
        
        
        

<ul class="tweet-actions js-actions">
  <li class="action-reply-container">
   

    <li class="more-tweet-actions">
  <div class="action-more-container">
    <div class="dropdown">
      <button type="button" class="btn-link with-icn dropdown-toggle">
        <i class="sm-more"></i>
        <b><%= link_to 'Go to tweets', root_path %></b>
      </button>
    </div>
  </div>
</li>




  
</ul>

      </div>

      
      <div class="expanded-content js-tweet-details-dropdown">
    
    
    
</div>


    </div>
  </div>


</li>











</ol>
   

        <div class="stream-footer ">
  <div class="timeline-end has-items has-more-items">
    <div class="stream-end">
  <div class="stream-end-inner ">
      <i class="bird-etched"></i>
      <p class="empty-text">
              Your timeline is currently empty. Follow people and topics you find interesting to see their Tweets in your timeline.
      </p>
          <p><button type="button" class="btn-link back-to-top hidden" style="display: inline-block;">Back to top ↑</button></p>
  </div>
</div>

    <div class="stream-loading">
  <div class="stream-end-inner">
    <span class="spinner" title="Loading..."></span>
  </div>
</div>

  </div>
</div>
<div class="stream-fail-container">
    <div class="js-stream-whale-end stream-whale-end stream-placeholder centered-placeholder">
  <div class="stream-end-inner">
    <h2 class="title">Loading seems to be taking a while.</h2>
    <p>
      Twitter may be over capacity or experiencing a momentary hiccup. <a href="https://twitter.com/#" class="try-again-after-whale">Try again</a> or visit <a target="_blank" href="http://status.twitter.com/">Twitter Status</a> for more information.
    </p>
  </div>
</div>
</div>
      <ol class="hidden-replies-container"></ol>
      <div class="stream-autoplay-marker">
        <i class="arrow"></i>
        <span class="text"></span>
      </div>
    </div>
  </div>
    <div id="sensitive_flag_dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal modal-small draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close"><i class="close-medium"><span class="visuallyhidden">Close</span></i></button>
      <div class="modal-header">
        <h3 class="modal-title">Flag this media</h3>
      </div>
      <div class="modal-body">
        <p class="sensitive-title">This has already been marked as containing sensitive content.</p>

        <label class="checkbox" for="sensitive-settings-checkbox">
          <input type="checkbox" id="sensitive-settings-checkbox" value="settings">
          Change my settings to warn me before displaying media that may contain sensitive content.
        </label>
        <label class="checkbox" for="sensitive-illegal-checkbox">
          <input type="checkbox" id="sensitive-illegal-checkbox" value="illegal">
          Flag this as containing illegal content.
        </label>
      </div>
      <div class="modal-footer">
        <button id="submit_flag_confirmation" type="button" class="btn">Submit</button>
        <button id="cancel_flag_confirmation" type="button" class="btn primary-btn">Cancel</button>

        <div class="sensitive-confirmation">
          <a class="sensitive-learn-more" target="_blank" href="https://support.twitter.com/articles/20069937">Learn more about flagging media</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-overlay"></div>
</div>
